<section class="login-height">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-pad height-100">
    <div class="logo">
      <img src="../../assets/images/KraniumHealthLogo.png" class="logoImg">
    </div>
    <div class="login-head">
      <h5>for Hospital</h5>
    </div>
    <div class="login-form login-img height-100">
      <div class="offset-lg-4 col-lg-4 offset-md-4 col-md-4 col-sm-12 col-12 pad-top-80">
        <h5 class="login">LOGIN</h5>
        <div class="form-group mrgn-top-25">
          <span>
            <i class="material-icons user-icon">
                person
                </i>
                </span>
          <input type="text" id="userName" class="form-control" placeholder="User name" required autofocus>
          <span>
              <i class="material-icons password-icon">
                  lock
                  </i>
                  </span>  
          <input type="password" id="Password" class="form-control" placeholder="Password" required>
        </div>
        <div class="row mrgn-top-38">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <button class="btn col-lg-12 col-md-12 col-sm-12 col-12 button-clr" type="button" (click)="signIn()">Sign
              In</button>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 mrgn-top-15">
            <a class="login" href="">Forget Password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>