.logo {
    text-align: center;
    margin-top: 50px;
}

.login-head {
    text-align: center;
    color: #005a88;
    margin-top: 10px;
}

.pad-top-80 {
    padding-top: 80px;
}

.mrgn-top-38 {
    margin-top: 38px;
}

.mrgn-top-25 {
    margin-top: 25px;
}

.user-icon {
    position: absolute;
    left: 20px;
    top: 129px;
}

.password-icon {
    position: absolute;
    left: 20px;
    top: 162px;
}

input {
    padding-left: 30px;
}


.mrgn-top-15 {
    margin-top: 15px;
}

.button-clr {
    background-color: #2e353a;
    color: white;
}

.login-form {
    text-align: center;
}

.login {
    color: white;
    font-weight: bold;
}

.logoImg {
    // background-image: url("../../assets/images/KraniumHealthLogo.png");
    height: 100px;
}

.no-pad {
    padding: 0 0 0 0;
}

// .mat-form-field-flex {
//     background-color: white !important;
// }

.bg-white {
    background-color: white !important;
}

.login-img {
    background-image: url("../../assets/images/kraniumsignin.jpg");
    height: 68vh;
}

// .mat-form-field {
//     display: block;
//     .mat-form-field-underline {
//         background-color: slateblue;
//     }
// }