<!-- <div class="col-md-12 col-sm-12 col-xs-12 nav-bar-clr">
    
  </div> -->
<section class="ht-100">
  <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12"> -->
  <mat-toolbar *ngIf="isAuthenticated" class="tool-bar-clr">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-2">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="color-white">menu</mat-icon>
        </button>
      </div>
      <div *ngIf="showHeader" class="col-lg-1 col-md-1 col-sm-2 offset-1 col-1 page-title">
        {{ pageTitle }}
      </div>
      <div *ngIf="showHeader && pageTitle === 'Home'" class="col-lg-1 col-md-1 col-sm-2 offset-5 col-2 top-8 color-white search-filter">
        <span [routerLink]="['/searchfilter']"><i class="material-icons">
            filter_list
          </i></span>
        <span [routerLink]="['/searchfilter']" class="pad-left-8">
          <i class="material-icons">
            search
          </i>
        </span>
      </div>
      <div *ngIf="showHeader && pageTitle === 'Filter'" class="col-lg-1 col-md-1 col-sm-2 offset-5 col-2 top-3 color-white search-filter">
        <a>Clear Filter</a>
      </div>
      <!-- <div class="col-md-1 col-sm-2 offset-1 col-2 page-title">
            
          </div> -->
    </div>
  </mat-toolbar>
  <!-- </div> -->
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12"> -->
  <mat-sidenav-container class="example-container side-nav-ht">
    <mat-sidenav class="nav-bar-clr side-wt pad-left-30" #sidenav mode='over' [(opened)]="opened"
      (opened)="events.push('open!');toggleState('open')" (closed)="events.push('close!');toggleState('close')">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 pad-left-0 bg-img" style="background: rgba(79,162,196,0.8);">
        <span class="col-lg-12 col-md-12 col-sm-12 col-12">
          <img src="./kraniumsignin.jpg" id="myImage" />
        </span>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center color-white">Attender Name</div>
      </div>
      <div class="side-nav-bg">
        <ul>
          <span>
            <i class="material-icons home-icon">
              home
            </i>
          </span>
          <li class="line menu-left-pad pad-bottom"><a routerLink="/home" (click)="sidenav.toggle()">Home</a></li>
          <i class="material-icons person-icon">
            supervised_user_circle
          </i>
          <ul class="menu-left-pad pad-bottom" (click)="sidenav.toggle()">Patient</ul>
          <li class="menu-left-pad pad-bottom"><a routerLink="/addeditpatient" (click)="sidenav.toggle()">Add Patient</a></li>
          <li class="line menu-left-pad pad-bottom"><a routerLink="/addeditpatient" (click)="sidenav.toggle()">Edit Patient</a>
          </li>
          <span>
            <i class="material-icons appoinment-icon">
              date_range
            </i>
          </span>
          <li class="line menu-left-pad pad-bottom"><a routerLink="/bookappoinment" (click)="sidenav.toggle()">Book
              Appoinment</a>
          </li>
          <span>
            <i class="material-icons logout-icon">
              exit_to_app
            </i>
          </span>
          <li class="line menu-left-pad pad-bottom"><a routerLink="/home" (click)="sidenav.toggle()">Logout</a></li>
        </ul>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- <button [(ngModel)]="opened">sidenav.opened</button> -->
      <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
      <!-- <p>Events:</p>
            <div class="example-events">
              <div *ngFor="let e of events">{{e}}</div>
            </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- </div>
  </div> -->
</section>