/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
    font-family: SansationLight;
    src: url('./assets/font/SansationLight.woff');
    }
    
    * {
    font-size: 14px;
    font-family: 'arial', sans-serif;
    }

    a {
        text-decoration: none !important;
    }


    .color-light-blue {
        color: #48a2c7;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .material-icons:hover {
        cursor: pointer;
    }

    a:hover {
        cursor: pointer;
    }

    .txt-center {
        text-align: center;
    }

    .pt-20 {
        padding-top: 20px;
    }

    .pt-80 {
        padding-top: 80px;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .mt-25 {
        margin-top: 25px;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .mt-100 {
        margin-top: 100px;
    }

    .ht-100 {
        height: 100%;
    }

    .no-pad {
        padding: 0 0 0 0 !important;
    }

    .p-50 {
        padding: 50px;
    }

.mat-form-field {
    display: block !important;
    .mat-form-field-underline {
        background-color: #48a2c7;
    }
}

.mat-focused .mat-form-field-label {
    color: #48a2c7 !important;
}

.mat-form-field-ripple {
    background-color: #48a2c7 !important;;
  } 

.mat-toolbar-single-row {
    position: absolute !important;
    z-index: 2 !important;
    height: 60px !important;
}

.mat-drawer {
    top: 60px !important;
}

.mat-sidenav-content {
    margin-top: 60px;
}

.mat-sidenav-container {
    height: 100% !important;
}

    .mat-drawer-content {
        overflow: hidden !important;
    }

    .mat-drawer-inner-container {
        overflow: hidden !important;
    }

    .mat-sidenav {
        width: 100%;
        height: 100%;
    }

    html, body {
        height: 100% !important;
    }
    