/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
    font-family: SansationLight;
    src: url('./assets/font/SansationLight.woff');
    }
    
    * {
    font-size: 14px;
    font-family: 'arial', sans-serif;
    }

    a {
        text-decoration: none !important;
    }

    // li:hover {
    //     cursor:pointer !important;
    //    }

.mat-form-field {
    display: block !important;
    .mat-form-field-underline {
        background-color: slateblue;
    }
}

.mat-toolbar-single-row {
    position: absolute !important;
    z-index: 2 !important;
    height: 60px !important;
}

.mat-drawer {
    top: 60px !important;
}

.mat-sidenav-container {
    height: 100% !important;
}

.mat-form-field-flex {
     background-color: white !important;
    }

    .mat-drawer-content {
        overflow: hidden !important;
    }

    .mat-drawer-inner-container {
        overflow: hidden !important;
    }
    
    


    .mat-sidenav {
        width: 100%;
        height: 100%;
    }

    html, body {
        height: 100% !important;
    }
    